html,body{ height: 100%; overflow: hidden;}
body {
    width: 100%;
    background: url(../images/login/login-bg.png) no-repeat center;
    background-size: cover;
    position: relative;
}

.header {
    padding: 30px 44px;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    display: block;
    width: 304px;
    height: 30px;
}

.header > ul {
    display: flex;
}

.header > ul li {
    cursor: pointer;
    margin-right: 26px;
}
.header > ul li span{color: #fff; font-size: 20px;}
.header > ul li:hover span{color: #3377ff;}

.header > ul li:last-child {
    margin-right: 0;
}

.login-layer {
    position: absolute;
    width: 582px;
    height: 500px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 88;
    margin:auto;
}

.login-layer .layer-top, .login-layer .layer-bottom {
    width: 100%;
    height: 110px;
}

.login-layer .layer-top {
    background: url(../images/login/sing-top.png) no-repeat;
}

.login-layer .layer-bottom {
    background: url(../images/login/sing-bottom.png) no-repeat;
}

.login-layer .layer-cen {
    width: 100%;
    height: 280px;
    background: url(../images/login/sing-cen.png) repeat-y;
}

.layer-content {
    width: 450px;
    margin: 0 auto;
}

.laydis, .layflex {
    display: flex;
    justify-content: space-between;
}

.layflex {
    flex-wrap: wrap
}

.layflex .tips {
    width: 100%;
}

.layflex .tips.error {
    color: #f00;
}

.laydis > h1 {
    font-size: 30px;
    color: #333;
    padding-top: 60px;
}

.laydis > a {
    font-size: 20px;
    color: #3377ff;
    padding-top: 60px;
}

.layflex > a {
    color: #3377ff;
    font-size: 14px;
}

.layer-form {
    width: 450px;
    margin: 0 auto;
    padding-top: 30px;
}


.layer-item {
    width: 450px;
    margin-bottom: 6px;
}

.layer-item .layer-input {
    border: 1px solid #ccc;
    height: 48px;
    line-height: 48px;
    display: block;
    padding-left: 10px;
    width: 438px;
    font-size: 14px;
}

.layer-item .tips {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    padding-left: 10px;
}

.layer-item .tips.error {
    color: #f00;
}

.layer-item .layer-deal {
}

.layflex label > a {
    color: #666;
}

.layer-bottom .layer-btn {
    width: 450px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    background: url(../images/login/login-btn.png) no-repeat center;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 2px 6px #000;
    display: block;
    border: 0;
    cursor: pointer;
}

@media (max-width: 600px) {
    .header {
        display: block !important;
    }

    .header .logo {
        margin: 0 auto;
    }

    .login-layer {
        width: 90%;
        height:434px;
    }

    .layer-content {
        width: 90%;
    }

    .layer-form {
        width: 90%;
    }

    .layer-bottom .layer-btn {
        width: 90%;
    }

    .layer-item .layer-input {
        width: 100%;
        box-sizing: border-box;
    }

    .layer-item {
        width: 100%;
    }

    .login-layer .layer-top {
        background-size: 100% 100%;
        height: 60px;
    }

    .login-layer .layer-cen {
        height: 240px;
    }

    .layer-form {
        padding-top: 25px;
    }

    .layer-bottom .layer-btn {
        font-size: 24px;
        height: 60px;
        line-height: 60px;
        background-size: 80% 80%;
    }

    .laydis > h1 {
        font-size: 24px;
        padding-top:32px;
    }
    .header > ul{ margin-top: 15px; justify-content: center;}

}

@media (max-width: 360px) {
    .laydis > h1 {
        font-size: 24px;
    }

    .header {
        padding: 30px 0;
    }
    #pass_modal .modal-title{font-size:24px;}
    .login-layer{ bottom: 25px; top: inherit;}
}
